:root {
    --sky-day: #87ceeb;
    --sky-night: #000e25;
    --moon-day: white;
    --moon-night: #000e25;
    --sun: #ffd452;
    --duration: 7s;
}

.sky {
    background-color: var(--sky-day);
    height: 100vh;
    width: 100vw;
    position: relative;

    animation: night var(--duration) ease infinite alternate;
}

.sun {
    position: absolute;
    top: 50vh;
    margin-top: -40px;
    left: 50vw;
    margin-left: -40px;

    background-color: var(--sun);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 26px 2px rgba(255,212,82,0.7);
}

.sun::after {
    display: block;
    position: absolute;
    content: '';
    background-color: #fab34e;
    height: 20px;
    width: 35px;
    top: 14px;
    right: 10px;
    transform: rotate(30deg);
    border-radius: 23px;
    opacity: 0.3;
    box-shadow: 0px 0px 5px 4px rgba(250,179,78,0.8);
}

.moon {
    position: absolute;
    top: 50vh;
    margin-top: -38px;
    left: 50vw;
    margin-left: -38px;

    background-color: var(--moon-day);
    width: 76px;
    height: 76px;
    border-radius: 50%;

    animation: slideIn var(--duration) ease infinite alternate;
}

.cloud {
    position: absolute;
    height: 60px;
    width: 160px;
    background-color: white;
    border-radius: 40px;

    animation: clouds var(--duration) ease infinite alternate;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.3);
}

.cloud::before {
    display: block;
    content: '';
    height: 80px;
    width: 90px;
    background-color: white;
    border-radius: 40px;
    transform: rotate(69deg) translate(-25px, -27px);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.3);
}

.cloud::after {
    display: block;
    content: '';
    height: 80px;
    width: 90px;
    background-color: white;
    border-radius: 40px;
    transform: rotate(115deg) translate(-133px, -1px);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.3);
}

.cloud-1 {
    top: calc(50vh - 97px);
    left: calc(50vw - 288px);
    transform: scale(0.8);
}

.cloud-2 {
    top: calc(50vh - 70px);
    left: calc(50vw + 208px);
    transform: scale(1);
}

.cloud-3 {
    top: calc(50vh + 80px);
    left: calc(50vw - 190px);
    transform: scaleX(-1) scale(0.6);
}


@keyframes slideIn {
    0% {
        transform: translateX(-10vw);
    }

    20% {
        background-color: var(--moon-day);
    }



    46% {
        transform: translateX(0vw);
    }

    40% {
        background-color: var(--moon-night);
    }

    54% {
        transform: translateX(0vw);
    }

    60% {
        background-color: var(--moon-night);
    }

    80% {
        background-color: var(--moon-day);
    }

    100% {
        transform: translateX(10vw);
    }
}

@keyframes night {
    20% {
        background-color: var(--sky-day);
    }

    40% {
        background-color: var(--sky-night);
    }

    60% {
        background-color: var(--sky-night);
    }

    80% {
        background-color: var(--sky-day);
    }
}

@keyframes clouds {
    20% {
        opacity: 1;
    }

    40% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.9;
    }

    80% {
        opacity: 1;
    }
}
